<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header">&nbsp</div>

<main role="main" class="container mt-4">
  <h3 class="mb-3">Parcourir les jeux</h3>
  <form th:action="@{/jeux}" method="post">
    <div class="form-group row">
      <div class="col">
      <label for="type-select">Type</label>
      <select id="type-select" class="custom-select" name="type">
        <option selected value="">Sélectionner un type</option>
        <option th:each="type : ${types}" th:text="${type.getNom()}" th:value="${type.getId()}"></option>
      </select>
      </div>
      <div class="col">
        <label for="genre-select">Genre</label>
        <select id="genre-select" class="custom-select" name="genre">
          <option selected value="">Sélectionner un genre</option>
          <option th:each="genre : ${genres}" th:text="${genre.getNom()}" th:value="${genre.getId()}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="theme-select">Thème</label>
        <select id="theme-select" class="custom-select" name="theme">
          <option selected value="">Sélectionner un thème</option>
          <option th:each="theme : ${themes}" th:text="${theme.getNom()}" th:value="${theme.getId()}"></option>
        </select>
      </div>
      <div class="col">
        <label for="editeur-select">Éditeur</label>
        <select id="editeur-select" class="custom-select" name="editeur">
          <option selected value="">Sélectionner un éditeur</option>
          <option th:each="editeur : ${editeurs}" th:text="${editeur.getNom()}" th:value="${editeur.getId()}"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="nombre-joueurs">Nombre de joueurs</label>
        <input type="number" min="1" class="form-control" id="nombre-joueurs" name="joueurs">
      </div>
      <div class="col">
        <label for="age-min">Âge minimum conseillé</label>
        <input type="number" min="1" class="form-control" id="age-min" name="age">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-search"></i> Rechercher les jeux</button>
      </div>
    </div>
  </form>
</main>

</body>
</html>
